<footer class="bg-light mt-5 py-3 border-top">
    <div class="container">
        <div class="row align-items-center text-center text-md-start">
            <div class="col-12 col-md-4 mb-2 mb-md-0">
                <div class="f-info-socials">
                    <i class="fa-brands fa-square-facebook fa-lg mx-2"></i>
                    <i class="fa-brands fa-square-instagram fa-lg mx-2"></i>
                    <i class="fa-brands fa-linkedin fa-lg mx-2"></i>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2 mb-md-0">
                <div class="f-info-brand">&copy; WanderLust Private Limited</div>
            </div>
            <div class="col-12 col-md-4">
                <div class="f-info-links">
                    <a href="/privacy" class="mx-2">Privacy</a>
                    <a href="/terms" class="mx-2">Terms</a>
                </div>
            </div>
        </div>
    </div>