<footer>
    <div class="f-info text-center py-3">
        <div class="f-info-socials mb-3 mt-2">
            <i class="fa-brands fa-square-facebook fa-lg mx-2"></i>
            <i class="fa-brands fa-square-instagram fa-lg mx-2"></i>
            <i class="fa-brands fa-linkedin fa-lg mx-2"></i>
        </div>
        <div class="f-info-brand">&copy; WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy" class="mx-2 d-inline-block">Privacy</a>
            <a href="/terms" class="mx-2 d-inline-block">Terms</a>
        </div>
    </div>
</footer>