<% layout("/layouts/boilerplate.ejs") %>

        <div class="row">
            <div class="col-8 offset-2">
            <br>
            <h2>Create New listing</h2><br>
            <form action="/listings" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" placeholder="Add a catchy title" class="form-control" required>
                    <div class="valid-feedback">Title looks good</div>
                    <div class="invalid-feedback">Please enter a catchy title</div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" placeholder="Write a description here"
                        class="form-control" required></textarea>
                        <div class="invalid-feedback">Please provide a description</div>
                </div>
                <div class="mb-4">
                    <label for="image" class="form-label">Listing Image</label>
                    <input type="file" name="listing[image]" class="form-control" required>
                    
                </div>
                <!-- <div class="mb-4" style="display: flex; flex-direction: column; gap: 10px;">
                    <label for="category" class="form-label">Category</label>
                    <select name="category">
                        <option value="Mountains">Mountains</option>
                        <option value="Beaches">Beaches</option>
                        <option value="Cities">Iconic cities</option>
                        <option value="Rooms">Rooms</option>
                        <option value="Castles">Castles</option>
                        <option value="Camping">Camping</option>
                        <option value="Amazing pools">Amazing pools</option>
                        <option value="Arctic">Arctic</option>
                    </select required>
                </div> -->
                
                <div class="row">
                    <div class=" mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" name="listing[price]" placeholder="2500" class="form-control" required>
                        <div class="invalid-feedback">Please provide valid price</div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" placeholder="Prayagraj" class="form-control" required>
                        <div class="invalid-feedback">Please provide a location</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="country">Country</label>
                    <input type="text" name="listing[country]" placeholder="India" class="form-control" required>
                    <div class="invalid-feedback">Please provide a valid country name</div>
                </div>
                <button class="btn btn-dark add-btn mt-5 mb-3">Post</button>
            </form>
        </div>
        </div>
